{% extends 'money/base.html' %}
{% load account_extras %}

{% block moneyContent %}

<h1>Account Types Currency and Time Filter</h1>

<p>
    {{ filter_type }}
</p>

Currency: {{ currency_code }}
<br>
From: {{ from_y }}/{{ from_m }}/{{ from_d }}
<br>
To: {{ to_y }}/{{ to_m }}/{{ to_d }}

<p>
    <a href="{% url "money:accountTypeCreate" %}">
        New Account Type 
    </a>
</p>

<ul>
    {% for accountType in object_list %}
    <li>
        <a href="{% url "money:accountTypeDetail" accountType.id %}">{{ accountType }}</a>
        <ul>
            {% for account in accountType.account_set.all %}
            <li>
                <a href="{% url "money:accountDetail" account.id %}">
                    {{ account }}

                    {% if filter_type == "from_to" %}
                    {% account_filter account from_y from_m from_d to_y to_m to_d %}
                    
                    {% elif filter_type == "currency" %}
                    {% account_filter account currency_code %}

                    {% elif filter_type == "currency_from_to" %}
                    {% account_filter account currency_code from_y from_m from_d to_y to_m to_d %}

                    {% elif filter_type == "from" %}
                    {% account_filter account from_y from_m from_d %}

                    {% elif filter_type == "currency_from" %}
                    {% account_filter account currency_code from_y from_m from_d %}
                    {% endif %}
                </a>

<!-- FOR TESTCASES
TEST {{ account }}
{% if filter_type == "from_to" %}
{% account_filter account from_y from_m from_d to_y to_m to_d %}
{% elif filter_type == "currency" %}
{% account_filter account currency_code %}
{% elif filter_type == "currency_from_to" %}
{% account_filter account currency_code from_y from_m from_d to_y to_m to_d %}
{% elif filter_type == "from" %}
{% account_filter account from_y from_m from_d %}
{% elif filter_type == "currency_from" %}
{% account_filter account currency_code from_y from_m from_d %}
{% endif %}
-->
            </li>
            {% endfor %}
        </ul>
    </li>
    {% endfor %}
</ul>

{% endblock %}
