{% extends 'users/base.html' %}

{% block content %}

<h1>Account Types</h1>

<p>
    <a href="{% url "money:accountTypeCreate" %}">
        New Account Type
    </a>
</p>

<ul>
    {% for accountType in object_list %}
    <li>
        <a href="{% url "money:accountTypeDetail" accountType.id %}">{{ accountType }}</a>
        <ul>
            {% for account in accountType.account_set.all %}
            <li>
                <a href="{% url "money:accountDetail" account.id %}">
                    {{ account }} {{ account.balance }}
                </a>
            </li>
            {% endfor %}
        </ul>
    </li>
    {% endfor %}
</ul>

{% endblock %}
