{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}ZMoney{% endblock %}</title>
        <link rel="stylesheet" href="{% static "css/bootstrap-4.0.0.min.css" %}">
        <link rel="stylesheet" href="{% static "css/pickadate-default.css" %}">
        <link rel="stylesheet" href="{% static "css/pickadate-default.date.css" %}">
        <script src="{% static "js/jquery-3.3.1.slim.min.js" %}"></script>
        <script src="{% static "js/pickadate.js" %}"></script>
        <script src="{% static "js/pickadate-date.js" %}"></script>
    </head>
    
    <body>
        <input type="text" id="picka">
        {% if user.is_authenticated %}

        Welcome back,
        {{ user.username }}

        {% else %}
        
        <ul class="pure-menu-list">
            <li class="pure-menu-item"><a href="{% url "zenousers:login" %}?next={% url "money:index" %}" class="pure-menu-link black">Log in</a></li>
        </ul>
        
        {% endif %}

        {% block moneyContent %}{% endblock %}
        
        <script src="js/bootstrap.bundle.min.js"></script>
        <script>
            $("#picka").pickadate({'format': 'dd/mm/yyyy'});
        </script>
    </body>
</html>
