{% extends 'money/base.html' %}

{% block moneyContent %}

<h1>Money</h1>

<p>
    <a href="{% url "money:accountTypeCreate" %}">New Account Type</a>
</p>

<p>
    <a href="{% url "money:accountTypeList" %}">Account Types</a>
</p>

<p>
    <a href="{% url "money:accountCreate" %}">New Account</a>
</p>

<p>
    <a href="{% url "money:accountList" %}">Accounts</a>
</p>

<p>
    <a href="{% url "money:transactionCreate" %}">New Transaction</a>
</p>

<p>
    <a href="{% url "money:transactionList" %}">Transactions</a>
</p>

{% endblock %}
