{% extends 'money/base.html' %}

{% block moneyContent %}

<h1>Bens</h1>

<p>
<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
    Transferência entre Bens
</button>
</p>

<div class="collapse" id="collapseExample">
    <div class="card card-body">
        TRANSFERENCIA FORM
    </div>
</div>

{% for account in object.account_set.all %}
{{ account }} {{ account.balance }}
{% endfor %}

{% endblock %}
