{% extends 'catalogo/base.html' %}

{% block title %}Catálogo{% endblock %}

{% block mainTitle %}Catálogo{% endblock %}

{% block main %}

<button class="index_menu" onclick="openMenu();" data-inline="true">Catálogo</button>

<br>

<a href="{% url 'sistema:index' %}" data-ajax="false">
    <button class="index_menu" data-inline="true">Sistema</button>
</a>

<br>

<!--
<a href="{% url 'money:index' %}" data-ajax="false">
    <button class="index_menu" data-inline="true">ZMoney</button>
</a>

<br>
-->

<a href="{% url 'benny:index' %}" data-ajax="false">
    <button class="index_menu" data-inline="true">All Cents</button>
</a>

<br>

<a href="{% url 'admin:index' %}" data-ajax="false">
    <button class="index_menu" data-inline="true">Django Admin</button>
</a>


<br><br>
<br><br>
<br><br>
<br><br>
<br><br>

{% endblock %}
