<nav class="navbar navbar-default"> <!-- navbar-fixed-top"> -->
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            <li><a href="{% url 'benny:index' %}" class="accountName">All Cents</a></li>
            
            <li class="dropdown"> <!-- user -->
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-user gi-default-size"></span></a>
                <ul class="dropdown-menu">
                    <li class="dropdown-header">{{ request.user }}</li>
                    <li><a href="{% url 'zenousers:logout' %}?next={% url 'benny:index' %}">Logout</a></li>
                    <li><a href="{% url 'catalogo:index' %}">Back to Catálogo</a></li> 
                </ul>
            </li> <!-- user dropdown -->

            <li><a href="{% url 'benny:index' %}"><span class="glyphicon glyphicon-list-alt gi-default-size"></span></a></li>  <!-- list of all accounts -->

            <li class="dropdown"> <!-- new item -->
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-plus gi-default-size"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="{% url 'benny:accountTypeCreate' %}">New account type</a></li>
                    <li><a href="{% url 'benny:accountCreate' %}">New account</a></li>
                    <li><a href="{% url 'benny:transactionCreate' %}">New transaction</a></li>
                </ul>
            </li> <!-- new item dropdown -->

            <li class="dropdown"> <!-- calendar -->
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-calendar gi-default-size"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="{% url 'benny:presetDate' %}?choice=today&amp;prevUrl={{ request.path }}">Today</a></li>
                    <li><a href="{% url 'benny:presetDate' %}?choice=month&amp;prevUrl={{ request.path }}">This month</a></li>
                    <li><a href="{% url 'benny:presetDate' %}?choice=year&amp;prevUrl={{ request.path }}">This year</a></li>
                    <li><a href="{% url 'benny:presetDate' %}?choice=all&amp;prevUrl={{ request.path }}">All dates</a></li>
                </ul>
            </li> <!-- calendar dropdown -->
            
        </ul> <!-- nav navbar-nav -->
     
        <form action="{% url 'benny:changeDates' %}" method="POST" class="navbar-form navbar-left small">
            {% csrf_token %}

            activity from
            &nbsp;
            <input type="text" name="from" size="10" value="{{ request.session.fromDate }}">

            to

            <input type="text" name="to" size="10" value="{{ request.session.toDate }}">

            <input type="hidden" name="prevUrl" value="{{ request.path }}">
            <input type="submit" value="change">            
        </form> <!-- changeDates -->

        <form action="{% url 'benny:search' %}" method="GET" class="navbar-form navbar-left small">
            <span class="glyphicon glyphicon-search gi-default-size"></span>
            <input type="text" name="words" size="15">
            <input type="submit" value="search">
        </form>
    </div>
</nav>


